// BRANDBOOK COLORS

$black: #000508;

$red-dark: #7F0000;
$red: #FF0001;
$red-light: #FF4C4D;

$green-dark: #7F7D00;
$green: #FFFB00;
$green-light: #FFFC4C;

$blue-dark: #00273F;
$blue: #0076BF;
$blue-light: #3C94CA;
