// MAIN LAYOUT

/* Text formatting selectors */
h5 {
	font-variant: small-caps;
  font-style: italic;
}

/* Layout blocks formatting */
body, html {
	width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: $font-family 14px;
}

header {
	height: 80px;
}