// MAIN LAYOUT

@include blocks-colors;

html {
  height: 100%;
  font-family: $font-family;
  @include device-media-query(desktop) { font-size: 22px; }
  @include device-media-query(tablet) { font-size: 24px; } 
  @include device-media-query(mobile) { font-size: 20px; } 
  @include device-media-query(retina-x2) {font-size: 42px; }
  
  &, body {
    min-height: 100%;
    height: 100%;
	  width: 100%;
    padding: 0;
    margin: 0;
  }
}

header {
	padding: 0;
  margin: 0;

  & .separator {    
    @extend %header_separator_border;
  }

  & .separator, & nav {
    height: 60px;
    width: 100%;    
  }

  & nav {
    background: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 60px;  
  	padding: 15px 20px;
    font-size: 1.2rem;
    line-height: 1.4rem;
    position: fixed;
    top: 0;
    left: 0;

    & a {
      padding-right: 5px;
      z-index: 99;

    	&:hover {
      	text-decoration: underline;
      }
    }
  }  
}


main {  
  height: 100%;
  min-height: 800px;
  padding: 20px;
  margin: 0 10px 10px 10px;
  position: relative;
  width: calc(100% - 20px);
  & #bg {
    @extend %main__bg_border;
    opacity: 0.7;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  & h5 {
    font-variant: small-caps;
    font-style: italic;
    font-size: 1.5rem;
  }
}

footer {
  @extend %footer_border;
  margin: 0;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: .9rem;
  line-height: 1rem;
  font-weight: bold;

  & a {
    padding: 0 2px 5px 0;
    display: inline-block;

    & img {
      width: 1.4rem;
    }
  }
}